@use "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

:root {
  --el-primary: #2e3a59;    /* Grafito profundo (Texto/Íconos) */
  --el-bg-soft: #e8eef7;    /* Azul grisáceo suave (Fondos de secciones) */
  --el-warm-gray: #a9b1ba;  /* Gris cálido (Texto secundario/Bordes) */
  --el-celeste: #b5d5f5;    /* Celeste claro (Hover/Secundarios) */
  --el-accent: #ffe492;     /* Amarillo pastel (Destacados/Avisos) */
  --el-success: #10b981;
  --el-danger: #ef4444;
}
